/*--------------------------------------------------------------
## Main
--------------------------------------------------------------*/
::-moz-selection {
    text-shadow: none;
    background: #e8638e;
}
::selection {
    text-shadow: none;
    background: #e8638e;
}
a,
a:hover,
a:focus,
a:active,
a.active,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}
[data-sr] {
	visibility: hidden;
}
html, body {
	background-color: #485563 !important;
}
body {
	position: relative;
}
#page-container {
	background-color: #2b3e50;
	display: block;
	min-height: 100%;
	position: static;
	overflow: hidden;
	z-index: 1;
}
.logo {
	display: block;
	text-align: center;
	width: 230px;
	padding: 20px 10px;
	margin: 0 auto 30px;
	-webkit-transition: all .3s;
       -moz-transition: all .3s;
        	transition: all .3s;
}

/*--------------------------------------------------------------
## Leading Header
--------------------------------------------------------------*/

#header {
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #4e5d6c;
    text-align: center;
    color: #fff;
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
	padding-bottom: 0;
	-webkit-transition: padding .3s;
       -moz-transition: padding .3s;
        	transition: padding .3s;
}
#header .wrap {
	background: transparent;
	height: auto;
	z-index: 2;
}
#content {
	background-color: #2b3e50;
	margin-top: 85px;
	padding-top: 20px;
	position: relative;
	z-index: 3;
}
#content .content-area {
	background-color: #2b3e50;
}
#header.staywithme {
	position: fixed;
	z-index: 4;
}
#header.staywithme .logo {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 5px;
	width: 140px;
}
#header.staywithme .wrap {
	height: 84.5px;
}
#header.staywithme .navbar-top .menu-top {
	padding: 15px 0;
}
#header .intro-text {
    padding-top: 100px;
    padding-bottom: 70px;
}
#header.staywithme .intro-text {
	display: none;
}
#header .intro-text .intro-lead-in {
	font-family: 'Pacifico', cursive;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 35px;
}
#header .intro-text .intro-heading {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    line-height: 45px;
    margin-bottom: 20px;
	letter-spacing: 1px;
}
#header .intro-text .intro-from {
	margin-top: 20px;
}
#header > .wrap::after {
    content: '';
    width: 100%;
    height: 10%;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -10%;
    box-shadow: 0 0 80px 0 rgba(0,0,0,.5);
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.navbar-top {
	background-color: transparent;
	height: auto;
}
.navbar-top .row > [class^='col-'] {
	position: relative;
	height: 1px;
}
.navbar-top .menu-top {
	position: absolute;
	background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
	top: 10px;
}
.navbar-top .menu-top.text-right {
	right: 15px;
}
.navbar-top .menu-top a {
	font-size: 20px;
	color: #ccc;
	text-decoration: none;
}
.navbar-top .menu-top a:hover {
	text-decoration: none;
	color: #fff;
}
.navbar-top .menu-top a span {
	padding-right: 5px;
}
.navbar-top .menu-top #trigger span {
	padding-left: 5px;
	padding-right: 0;
}
.navbar-top .menu-top a .fa {
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#trigger.active .fa {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
